* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, p {
  font-family: 'Roboto', sans-serif;
}


header {
  width: 100%;
}

header span {
  display: block;
  text-align: center;
  align-content: center;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(16, 16, 78);
  color: white;
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(73, 73, 73);
  height: 40px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
  height: 40px;
  width: 100px;
  align-content: center;
  text-align: center;
}

nav a:hover {
  background-color: rgb(88, 88, 88);
}

main {
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 10px;
}

.card {
  background-color: white;
  border: 1px solid rgb(196, 191, 191);
  border-radius: 10px;
  padding: 50px;
  margin-top: 20px;
}

h1, h2 {
  font-size: large;
}

.card-header {
  text-align: center;
  background-color: rgb(16, 16, 78);
  color: white;
  height: 40px;
  align-content: center;
  margin-top: -10px;
  margin: -50px -50px;
  padding: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.about-me {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 70px;
}

.about-img img {
  width: 200px;
  height: 150px;
}

ul {
  margin: 40px 40px;
  margin-top: 70%;
}

.about-country {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.country {
  text-align: center;
  border-bottom: 1px solid gray;
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
}

.flag {
  text-align: center;
}

.flag img {
  height: auto;
  width: 200px;
  justify-items: center;
  border: 1px solid rgb(161, 154, 154);
}

footer {
  background-color: rgb(16, 16, 78);
  width: 100%;
  color: white;
  text-align: center;
  align-content: center;
  padding: 20px;
  margin-top: 20px;
}